HttpDownloader should allow relative redirects

According to the commit message of https://github.com/bazelbuild/bazel/commit/6e30521e0d230ba8138cb8bbe3bf3f4fb4fbfa60, HttpDownloader currently supports only absolute redirects. This was the correct behavior according to RFC 2616.

However, that one has been recently superseded by RFC 7231 (https://tools.ietf.org/html/rfc7231.html), which now allows relative redirects, recognizing the actual practice of user agents:

```
The field value consists of a single URI-reference.  When it has the
form of a relative reference ([RFC3986], Section 4.2), the final
value is computed by resolving it against the effective request URI
([RFC3986], Section 5).
```

We should eventually implement this in HttpDownloader, as we'll otherwise run into the same issue as #959 again.


@jart is this implemented now?

Yep yep.

Excellent.